@model IEnumerable<Auction_ASP_Core.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Listings</h1>

@foreach(var listing in Model)
{
    <div class="container">
        <div class="row">
            <div>
                <img src="~Images/@listing.ImagePath" />
            </div>
            <h5>
                <a asp-action="Details" asp-route-id="@listing.Id">@listing.Title</a>
            </h5>
            <div>@listing.Description</div>
            <div>Price: @listing.Price.ToString()</div>
            <div>Listed By: @listing.User.Email</div>
        </div>
    </div>   
}

@if(!Model.Any())
{
    <p>No Listings Are Available</p>
}